<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}
<!--    Подключаем google fonts, такого же как в макете не нашел, взял хоть как-то похожий-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    Подключаем JS файлы-->
    <script src="{% static 'js/ajax_all_events.js' %}"></script>
    <script src="{% static 'js/li_events.js' %}"></script>
    <script src="{% static 'js/buttons.js' %}"></script>
    <script src="{% static 'js/users.js' %}"></script>
    <title>Title</title>
    {% endblock %}
</head>
<body>
    {% block header %}
    <div class="header">
        <div class="username">
            {% if user.is_authenticated %}
            <p class="username"> <h2> {{ user.name }} {{ user.surname }}</h2>  <a href='logout'> Выйти</a></p>
            <script type="text/javascript">localStorage.setItem("user_id", {{ user.id }})</script>
            {% else %}
            <p>Вы не авторизованны </p>
            <a href="login"> Войти </a>
            <a href="registration"> Регистрация</a>
            {% endif %}
        </div>
        <br>
    </div>
    {% endblock header %}
    <div class="cont">
    {% block list_events %}
    <div class="list_events">
        {% block all_events %}
        <div class="all_events">
            <h3> Все события</h3>
            {% if user.is_authenticated %}
            <ul class="events_a">
                {% for event in all_events %}
                <li class="li_event" value="{{ event.id }}"><a href="#">{{ event.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
        {% endblock all_events %}
        <hr>
        {% block my_events %}
        <h3> Мои события</h3>
        <div class="my_events">
            {% if user.is_authenticated %}
            <ul class="my_events_ul">
                {% for item in queryset %}
                <li class="li_event" value="{{ item.id }}"><a href="#">{{ item.title }} </a></li>
                {% endfor %}

            </ul>
            {% endif %}
        </div>
        {% endblock my_events %}

    </div>
    {% endblock list_events %}
    {% block content %}
    <div class="content">
        <div class="data">
            <div class="name_event">
            </div>
            <div class="desc_event">
            </div>
            <div class="date_of_event">
            </div>
            <div class="creator_event"></div>
        </div>
        <div class="participants">
        </div>
        <div class="user_data">
            <div class="user_name"></div>
            <div class="date_of_registration"></div>
            <div class="date_of_birthday"></div>
            <div class="buttons"></div>
        </div>
    </div>
    {% endblock content %}
    </div>

</body>
</html>