.body {
    overflow: auto;
    height: auto;
    width: auto;
    overflow-x:scroll;
}
.header {
    width: 100%;
	background: #D8E3AB;
	height: 70px;
}

.list_events {
    margin-top: 2em;
    width: 250px;
    background-color: #D8E3AB;
    height: 100%;
    position: absolute;
    border-right: 2px solid gray;
}

.events_a{
    overflow-x:scroll;
    overflow: auto;
    width: auto;
    height: auto;
}

.my_events {
    overflow-x:scroll;
    overflow: auto;
    width: auto;
    height: auto;
}

.errorlist {
    visibility: hidden;
    display: none;
    list-style: none;
}

ul.errorlist {display:none;}

.content {
    margin-top: 2em;
    display: inline-block;
    margin-left: 30em;
}

a, a:link, a:visited, a:active, a:link{
    color: blue;
    font-family: 'Rubik Dirt', cursive;
}
